.company_name{
  width:100%;
  text-align: center;
  padding:50px 0;
}
.company_name h3{
  font-family: PingFangSC-Medium;
font-size: 36px;
color: #5F5F5F;
letter-spacing: 0;
font-weight: 400;
}
.company_tags{
  margin-top:20px;
}
.company_tag{
  border: 1px solid #0580FF;
  border-radius: 14px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #0580FF;
  padding:4px 14px;
  margin-right:10px;
}
.company_info{
  width:100%;
  background: #F9F9F9;
}
.company_info_tags{
  width:1250px;
  margin:0 auto;
  padding:20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.company_info_tag{
  width:45%;
  background: #FFFFFF;
  border-radius: 5px;
  padding:10px 20px;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.company_info_tag label,.company_info_doc label{
  font-family: PingFangSC-Regular;
font-size: 20px;
color: #5F5F5F;
letter-spacing: 0;
}
.company_info_doc{
  width:100%;
  background: #FFFFFF;
  border-radius: 5px;
  padding:10px 20px;
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #000000;
}
.company_content{
  width:1250px;
  margin:0 auto;
  margin-bottom: 40px;
}
.company_title{
  padding: 50px 0;
  font-family: PingFangSC-Medium;
font-size: 30px;
color: #0580FF;
}
.company_introduce p{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #787878;
  line-height: 36px;
  letter-spacing: 0;
}
.company_table{
  width:100%;
}
.company_table tr{
  width:100%;
  background: #F9F9F9;
}
.company_table tr:nth-child(2n){
  width:100%;
  background: #fff;
}
.company_table td{
  border-color:#A5A5A5; border-collapse: collapse;
  padding:10px;
  color:#000;
}
.grayfont{
  color: #5F5F5F;
}
.company_map{
  width:100%;
  height:600px;
  background: #C6C6C6;
}