html,
body {
    font-family: Microsoft YaHei;
    height: 100%;
    min-width: 1200px;
    background: #fff;
    #app {
        height: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 12px;
    color: #333;
}

.el-menu-item {
    width:120px;
    text-align: center;
    background:$mainColor!important;
    &:hover{
      background:$mainHColor!important;
    }
    &.is-active{
      border-bottom-color:$mainColor!important;
    }
}
.el-menu.el-menu--horizontal{
  border:0;
}
.el-tabs__item{
  color:#333;
  &.is-active{
    color:$mainColor;
  }
  &:hover{
    color:$mainHColor;
  }
}
.el-tabs__active-bar{
  background:$mainColor;
}

.news_item{
  width:100%;
  display:flex;
 
  line-height: 30px;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
  &:hover .new_title, &:hover .new_date{
    color: rgb(78,146,235);
  }
  .news_href{
    display:flex;
    width:100%;
    justify-content: space-between;
  }
  .new_title{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  .new_date{
    width:90px;
  }
}
.card_block{
  width:100%;
  height:auto;
  .card_header{
    width:100%;
    height:48px;
    background-color:rgba(249, 249, 249, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card_name{
      font-size: 14px;
      color:$mainColor;
      font-weight: bold;
      padding-right:15px;
      width:120px;
      height:100%;
      text-align: center;
      line-height:46px;
      border-bottom:2px solid $mainColor;
    }
    .card_more{
      border:1px solid rgba(204, 204, 204, 1);
      padding:4px 15px;
      margin-right:15px;
      border-radius: 2px;
    }
  }
}