$font12:14px;
$font14:16px;
$font16:18px;
$font18:20px;
$font20:24px;
$font24:28px;

$mainColor:rgba(204, 0, 0, 1);
$mainHColor:rgb(245, 40, 40);
$mainOPColor:rgba(204, 0, 0, 0.3);
$mainHOPColor:rgba(245, 40, 40,0.3);

$buleColor:#085ab0;
$buleHColor:#1572d5;