.plan_banner{
  width:100%;
  height:auto;
}
.plan_banner img{
  width:100%;
}
.plan_title{
  width:100%;
  background:#fff;
  text-align: center;
  padding:100px 0;
  font-family: PingFangSC-Regular;
font-size: 36px;
color: #5F5F5F;
letter-spacing: 0;
}
.plan_row{
  width:100%;
}
.plan_row_content{
  width:1250px;
  margin:0 auto;
  padding:40px 0;
}
.plan_gary{
  background: #F9F9F9;
}
.plan_card{
  width:100%;
  display: flex;
}
.card_item{
  width:25%;
  margin-right:20px;
  background: #fff;
  text-align: center;
  padding:40px 20px;
  border-radius: 5px;
}
.card_item img{
  width:50px;
  margin:50px auto;
}
.card_item_title{
  font-family: PingFangSC-Regular;
font-size: 24px;
color: #5F5F5F;
letter-spacing: 0;
}
.blue_line{
  display: inline-block;
  background: #007EFF;
  border-radius: 5px;
  width:36px;
  height:1px;
  margin-top:15px;
  margin-bottom:20px;
}
.card_item_content{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #9B9B9B;
  letter-spacing: 0;
  text-align: justify;
  line-height: 24px;
}
.plan_product{
  width:100%;
  padding:50px;
}
.product_title{
  font-family: PingFangSC-Regular;
font-size: 46px;
color: #5F5F5F;
letter-spacing: 0;
text-align: center;
}
.product_doc{
  font-family: PingFangSC-Regular;
font-size: 20px;
color: #5F5F5F;
letter-spacing: 0;
margin-top:50px;
line-height: 30px;
}

.safe_title{
  font-family: PingFangSC-Regular;
  font-size: 36px;
  color: #494949;
  width:100%;
  text-align: center;
}
.safe_ul_list{
  width:100%;
  display: flex;
  margin-top: 40px;
}
.safe_ul{
  width:20%;
  margin:0 10px;
  padding-bottom:20px;
}
.safe_ul_title{
  width:100%;
  height:48px;
  background: #007EFF;
  line-height: 48px;
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
}
.safe_ul li{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #868686;

  padding:0 20px 0 20px;
  line-height: 36px;
}
.safe_ul li::before{
  display: inline-block;
  content: '';
  width:4px;
  height:4px;
  background: #007EFF;
  margin-right:20px;
  border-radius: 2px;
  position: relative;
  top:-4px;
}
.service_doc .safe_ul{
  margin:0;
  background: #FCFCFC;
  border: 1px solid #C4C4C4;
  padding-bottom:20px;
}
.service_doc .safe_ul li{
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #7F7F7F;
}
.safe_box{
  text-align: center;
  margin-top:40px;
}
.safe_box a{
  display: inline-block;
  width:180px;
  height:48px;
  background: #007EFF;
  border-radius: 5px;
  text-align: center;
  line-height: 48px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FFFFFF;
}